@model IEnumerable<TaskApplication.ViewModels.HomepageViewModel>
@{
    ViewBag.Title = "Index";
}

@section css {
    <link href=@Url.Content("~/Content/homepage.css") rel="stylesheet" type="text/css" />
}

<body>
    <h2>Welkom op de homepage</h2>

    <table class="table">
        <tr>
            <th>Naam</th>
            <th>Taken</th>
            <th>Deadline</th>
        </tr>
        @foreach(var viewmodel in Model)
        {
            <tr>
                <td>@viewmodel.User.name</td>
                <td>
                    <ul class="list">
                        @foreach(var userTask in viewmodel.Tasks)
                        {
                            <li>@userTask.Task.Description</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul class="list">
                        @foreach (var userTask in viewmodel.Tasks)
                        {
                            <li>@userTask.Deadline</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </table>
</body>


