@{
    ViewBag.Title = "Error";
}

<body>
    <h2 style="color: red; font: bold">Error!! :(</h2>

    <div class="form-group">
        <div class="has-error">
            <label>@ViewBag.Error</label>
        </div>
    </div>
</body>


